body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background: linear-gradient(45deg, #4fc1ee, #21e0ee);
    background-attachment: fixed;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 30px;
}

h1 {
    color: #fdfdfd;
}

h2 {
    color: #65a5f9;
}

#currentTime {
    color: #fdfdfd;
    font-size: 1.2rem;
    margin-top: 10px;
}

.btn {
    border-radius: 20px;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
    color: #212529;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    color: white;
}

.card {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card-header {
    background: linear-gradient(45deg, #4fc1ee, #21e0ee);
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title {
    margin-bottom: 0;
}

.card-body {
    padding: 15px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card-text i {
    margin-right: 10px;
}

.icon-phone {
    color: #28a745; /* Green color for phone icon */
}

.icon-email {
    color: #ffc107; /* Yellow color for email icon */
}

#searchInput {
    border-radius: 20px;
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.card-footer .btn {
    flex: 1;
    margin: 0 5px;
}
